argh==0.26.2
cffi==1.14.3
greenlet==0.4.13
importlib-metadata==2.0.0
jedi==0.17.2
parso==0.7.1
Pillow==8.0.1
pluggy==0.13.1
pycairo==1.20.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.1
PyYAML==5.3.1
readline==6.2.4.1
ujson==4.0.1
watchdog==1.0.2
zipp==3.4.0
